body > aside {
    position: absolute;
    height: 100%;
    width: 250px;
    background: #39c2d7;
}

#leftMenu > ul > li {
    border-bottom: 1px #5dcbdc solid;
    height: 48px;
}

/*noinspection ALL*/
#leftMenu > ul > li > a {
    display: inline-block;
    position: relative;
    top: 10.5px;
    left: 50px;
    color: white;
    font-family: "Oswald Regular";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

/*noinspection ALL*/
#home::before,
#documents::before,
#calendar::before,
#archive::before,
#nomenclature::before,
#organizations::before {
    display: inline-block;
    position: relative;
    left: 30px;
    top: 14px;
    content: "\f015";
    font-family: FontAwesome;
    width: 21px;
    height: 17px;
    color: white;
    font-size: 22px;
    font-weight: 400;
}

#documents::before {
    content: "\f0f6";
}

/*noinspection ALL*/
#documents::after {
    display: inline-block;
    position: relative;
    float: right;
    right: 26px;
    top: 16px;
    width: 9px;
    height: 6px;
    content: "\f0d7";
    color: white;
    font-family: FontAwesome;
    font-size: 14px;
    font-weight: 400;
}

#calendar::before {
    content: "\f073";
}

#archive::before {
    content: "\f187";
}

#nomenclature::before {
    content: "\f0ca";
}

#organizations::before {
    content: "\f0f2";
}

#leftMenu > ul > li.selected {
    background: #30a5b7;
}
