@import "header.css";
@import "left-menu.css";
@import "calendar.css";
@import "documents.css";
@import "on-control.css";
@import "footer.css";

@font-face {
    font-family: 'FontAwesome';
    src: url(/_fonts/fontawesome-webfont.ttf);
}

@font-face {
    font-family: 'Oswald Regular';
    src: url(/_fonts/Oswald-Regular.ttf);
}

@font-face {
    font-family: 'SourceSansPro Regular';
    src: url(/_fonts/SourceSansPro-Regular.otf);
}

html {
    min-width: 1439px;
}

body {
    margin: 0;
}

body > section {
    display: flex;
    justify-content: center;
    margin-left: 250px;
    margin-bottom: 45px;
    overflow: hidden;
}

figure {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}