@import "header.css";

@font-face {
    font-family: 'FontAwesome';
    src: url(/_fonts/fontawesome-webfont.ttf);
}

@font-face {
    font-family: 'Oswald Regular';
    src: url(/_fonts/Oswald-Regular.ttf);
}

body {
    margin: 0;
}

figure {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}