body > footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #464547;
}

/*noinspection ALL*/
body > footer > h5 {
    margin-top: 24px;
    margin-bottom: 20px;
    margin-left: 20px;
    color: #ccc;
    font-size: 11px;
}

body > footer > ul {
    display: flex;
}

body > footer > ul > li {
    margin-top: 22px;
    margin-bottom: 18px;
    padding-right: 22px;
    padding-left: 22px;
    height: 15px;
}

body > footer > ul > li > a {
    font-size: 11.5px;
    color: #ccc;
}

body > footer > ul > li:first-child {
    border-right: 1px #ccc solid;
}