body > header {
    display: flex;
    flex-direction: column;
}

body > header ul {
    display: inline-flex;
    justify-content: space-between;
}

#top_header {
    display: flex;
    justify-content: space-between;
    height: 28px;
    background: #39c2d7;
}

#logo {
    margin: 4px 0 4px 22px;
}

/*noinspection ALL*/
#top_header > ul:first-child > li:last-child > a {
    display: block;
    margin: 6px 0 0 7px;
    font-family: "Oswald Regular";
    font-size: 14px;
    text-transform: uppercase;
}

#top_header > ul:last-child li {
    padding-right: 19px;
}

/*noinspection ALL*/
#top_header > ul:last-child > li > a {
    display: inline-block;
    margin: 6px 0 0 0;
    font-size: 14px;
}

#top_header > ul > li.selected {
    margin-left: 13px;
    padding-right: 47px;
    height: 28px;
    background: #eee;
}

#top_header > ul > li.selected > a {
    margin: 7px 0 0 20px;
    color: #464547;
}

#top_header > ul > li.selected > figure {
    display: inline-block;
    position: relative;
}

#chevron {
    bottom: 2px;
    left: 12px;
}

#settings {
    top: 3px;
    left: 22px;
}

#question {
    top: 3px;
    left: 27px;
}

#top_header > ul > li > a:hover {
    color: #ebebeb;
}

#top_header > ul > li.selected a:hover {
    color: #000;
}

#middle_header {
    display: flex;
    justify-content: space-between;
    height: 32px;
    background: #eee;
}

/*noinspection ALL*/
#middle_header > ul > li > a {
    color: #666;
    font-family: "Oswald Regular";
    text-transform: uppercase;
}

#navigation {
    margin: 7px 0 6px 20px;
}

#navigation li {
    padding: 1px 9px 1px 9px;
}

#navigation > li.selected {
    background: #39c2d7;
}

#navigation > li.selected > a {
    color: #fff;
}

#navigation a {
    position: relative;
    left: 1px;
    font-size: 11px;
    letter-spacing: 1.2px;
}

#actions {
    margin: 6px 0 0 0;
}

#actions a {
    font-size: 12px;
    letter-spacing: 1px;
}

#actions > li {
    padding-right: 25px;
}

#middle_header > ul:last-child > li > a {
    color: #999;
}

#middle_header > ul > li > a:hover {
    color: #000;
}

#navigation > li.selected > a:hover {
    color: #fff;
}

#navigation > li.selected:hover {
    background: #3bd6eb;
}

/*noinspection ALL*/
#actions > li > a::before {
    position: relative;
    right: 6px;
    font-family: FontAwesome;
    font-size: 17px;
}

#zoom {
    position: relative;
    left: 6px;
    top: 3px;
}

#share::before {
    content: '\f1e0';
}

#follow::before {
    content: '\f006';
}

#edit::before {
    content: '\f040';
}

#bottom_header {
    display: flex;
    justify-content: space-between;
    height: 62px;
    background: #464547;
}

#epamLogo {
    margin: 19px 0 0 20px;
}

/*noinspection ALL*/
#bottom_header ul > li > a {
    display: inline-block;
    margin: 18px 0 0 20px;
    color: #7ae6f7;
    font-family: "Oswald Regular";
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#search {
    margin: 23px 19px 0 0;
}



